<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>301530807372-eklqtdfe19f2tguv2b2q9j6tsslp2o9j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.301530807372-eklqtdfe19f2tguv2b2q9j6tsslp2o9j</string>
	<key>API_KEY</key>
	<string>AIzaSyCjAQySKL6tcr7_HngH0Gsa51YRgAQSXxM</string>
	<key>GCM_SENDER_ID</key>
	<string>301530807372</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.iotplug</string>
	<key>PROJECT_ID</key>
	<string>iotplug-c8cb1</string>
	<key>STORAGE_BUCKET</key>
	<string>iotplug-c8cb1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:301530807372:ios:b554801b7744396a3988e9</string>
	<key>DATABASE_URL</key>
	<string>https://iotplug-c8cb1.firebaseio.com</string>
</dict>
</plist>